<?xml version="1.0"?>
<config>
    <modules>
        <av_priceupdate>
            <version>1.0.0</version>
        </av_priceupdate>
    </modules>
    <global>
        <blocks>
            <av_priceupdate>
                <class>AV_PriceUpdate_Block</class>
            </av_priceupdate>
        </blocks>
        <models>
            <av_priceupdate>
                <class>AV_PriceUpdate_Model</class>
            </av_priceupdate>
        </models>
        <template>
            <email>
                <priceupdate module="av_priceupdate">
                    <label>Price update template</label>
                    <file>report/priceupdate.html</file>
                    <type>html</type>
                </priceupdate>
            </email>
        </template>
        <helpers>
            <av_priceupdate>
                <class>AV_PriceUpdate_Helper</class>
            </av_priceupdate>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <av_priceupdate>
                    <files>
                        <default>AV_PriceUpdate.csv</default>
                    </files>
                </av_priceupdate>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <av_priceupdate>
                    <files>
                        <default>AV_PriceUpdate.csv</default>
                    </files>
                </av_priceupdate>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <av_priceupdate_update>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>av_priceupdate/observer::run</model>
                </run>
            </av_priceupdate_update>
        </jobs>
    </crontab>
</config>