<?xml version="1.0"?>
<config>
    <tabs>
        <av_priceupdate translate="label">
            <label>AV_Priceupdate</label>
            <sort_order>150</sort_order>
        </av_priceupdate>
    </tabs>
    <sections>
        <av_priceupdate translate="label" module="adminhtml">
            <label>Config</label>
            <tab>av_priceupdate</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment">
                    <label>General</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[The update is every 15 minutes triggered with cronjob. <br> Error in exepction.log.]]></comment>
                    <fields>
                        <increase translate="label comment">
                            <label>Percent price increase / decrease</label>
                            <comment><![CDATA[Price global increase / decrease in percent <br> Example: 5%, 25%, -50%, -75% etc. <br> <strong>Please remove the percent value here, if you want update the prices with custom csv!</strong>]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </increase>
                        <file translate="label comment">
                            <label>Custom price update with CSV</label>
                            <comment><![CDATA[File format: sku + new price <br> <strong>Please remove the csv file, if you want update the prices only with percent value!</strong> <br> File saved in <strong><span style="color: red;">var/priceupdate</span></strong> folder.]]></comment>
                            <frontend_type>file</frontend_type>
                            <backend_model>adminhtml/system_config_backend_file</backend_model>
                            <upload_dir>var/priceupdate</upload_dir>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </file>
                    </fields>
                </general>
            </groups>
        </av_priceupdate>
    </sections>
</config>